/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}


.hero {
    background-color: #457B9D;
    color: #F1FAEE;
    padding: 20px;
    background-image: url("images/torshov.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    }
.title{
    background: #457B9D;

}

.middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: #F1FAEE;
}

.middle-section h2{
    color: #457B9D;
}

.activity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

.image{
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.action{
    font-weight: 600px;

}
